/* TransactionHistory.css */

/* TransactionHistory.module.css */

.transactionHistory {
    width: 50%;
    padding: 20px;
    margin: 20px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
  }
  
  .transactionHistory th, .transactionHistory td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transactionHistory th {
    background-color: #f2f2f2;
  }
  
  .transactionHistory tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  